/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 1.5;
	color:#242424;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	line-height: 1.25;
	color: #3e606b;
}

h1 {font-size: 52px;
	color: white;
}

h2 {font-size: 36px;}
h3 {font-size: 18px;}

.section-content {
	max-width: 1100px;
	margin: 0 auto;
}

header, footer {
	padding: 30px 0;
}

header {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

ul{list-style-type: none;}

.menu {display:flex;}
li:hover {background-color: #f195b2;}

li {
	padding:10px 15px;
	border-radius: 20px;
}

a {text-decoration: none;}

footer {background-color:#303339;
	color: white;
	text-align: center;
}

section {
	padding: 80px 0;
}

.logo {width: 170px;}

.hero {
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	color: white;
	padding-right: 40%;
}

.nabidka {
	background-color:#f0f0f0;
}

#vitejte {display: flex;}

.levy {padding-right: 30px;
	text-align: justify;
}

.tlacitko {
	background-color: #f195b2;
	padding: 15px 40px;
	border-radius: 30px;
	margin-top: 30px;
}

.tlacitko:hover {
	background-color: #d2567d;
}

.fotky {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.p1 {
	flex: 1 1 calc ((100% - 90px) / 4);
}

.p1, 
.p2, 
.p3, 
.p4 {background-color: white;
	padding: 20px;
	border-radius: 5px;
}

#peceni {display: flex;}

.right {padding-left: 30px;}
.zakulatit {border-radius: 5px;}

.poteseni (padding-left: )